@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,500,500italic,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fira Sans';
}

div#header{
  width: 100%;
  height: 60px;
  background-color: #34495e;
  margin:0 auto;
  float: left;
  position: relative;
}

a{
  text-decoration: none;
}

.logo{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}


.logo a{
  font-size: 1.6em;
  color: #fff;
}

.logo a span{
  font-weight: 300;
}

.button-equipos{
  margin: 10px 5px;
  margin-left: 8em;
  padding: 10px;
  color: #05F5E5;
  border-radius: 2px 2px 2px 2px;
  background: #34495e;
  font-weight: bold;
  border: 1px solid #05F5E5;
}

.button-equipos:hover{
  color: #FFF;
  background: #05F5E5;
}

.button-recursos{
  padding: 10px;
  color: #FA8F02;
  border-radius: 2px 2px 2px 2px;
  background: #34495e;
  font-weight: bold;
  border: 1px solid #FA8F02;
}

.button-recursos:hover{
  color: #FFF;
  background: #FA8F02;
}

input[type=search]{
  margin-left: 0.8em;
  padding: 10px;
  border-radius: 2px 2px 2px 2px;
  color: #fff;
  background: #34495e;
  border: 1px solid #fff;
}

div#container{
  width: 100%;
  margin: 0 auto;
}

.user{
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #2c3e50;
}

.user img{
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  margin-right: 5px;
  border-radius: 100%;
}

.username{
  color: #fff;
  font-weight: bold;
}

.user-info{
  width: 100%;
  background: #2c3e50;
  display: block;
}

.info{
  float: right;
  color: #fff;
  font-weight: lighter;
}

.sidebar{
  overflow: hidden;
  width: 250px;
  height: 100%;
  background-color: #2c3e50;
  float: left;
}

h3{
  margin-top: 15px;
  padding: 15px;
  color: #fff;
}

h3 span.icon-user-plus{
  float: right;
}

ul#nav{

} 

ul#nav li{
  list-style: none;
}

ul#nav li a{
  color: #95a5a6;
  display: block;
  padding: 12px;
  font-size: 0.8em;
  -webkit-transition:0.2s;
  -moz-transition:0.2s;
  -o-transition:0.2s;
  transition:0.2s;
}

ul#nav li a:hover{
  background-color: #34495e;
  color: #fff;
}

ul#nav li a.selected{
  background-color: #34495e;
  color: #fff;
}

ul#nav li a span.icon-circle.red{
  color: #ED0202;
  font-size: 1em;
  display: inline-block;
  padding: 5px;
}

ul#nav li a span.icon-circle.yellow{
  color: #FA8F02;
  font-size: 1em;
  padding: 5px;
}

ul#nav li a span.icon-circle.blue{
  color: #0AE2FA;
  font-size: 1em;
  padding: 5px;
}

ul#nav li a span.icon-circle.green{
  color: #2EFA05;
  font-size: 1em;
  padding: 5px;
}

ul#nav li a span.icon-circle.white{
  color: #EEF2ED;
  font-size: 1em;
  padding: 5px;
}

ul#nav li a span.icon-angle-down{
  float: right;
  margin-top: 0.5em;
  font-size: 1em;
}

.publicidad{
  width: 99%;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: lighter;
  border: 1px solid #fff;
  margin-top: 7em;
}

.imagen-publicidad{
  width: 100%;
  padding: 10px;
  margin: auto;
  text-align: center;
}
  
.imagen{
  display: inline-block;
  width: 100%;
  margin-right: 5px;
  position: relative;
}
    
.crear-equipo{
  float: right;
  margin-top: 15px;
  margin-right: 30px;
  color: #0AE2FA;
  font-weight: 300;
}
    
.crear-recurso{
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  color:#FA8F02; 
  font-weight: 300;
}

.division{
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  color:#FA8F02; 
}


.content{
  width: auto;
  margin-left: 250px;
  height: 100%;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
}

.content-order p{
  float: right;
  margin: auto;
  padding: 15px;
}

.team{
  width: 350px;
  height: 350px;
  margin-top: 1.5em;
  margin-left: 0.2em;
  background: #95a5a6;
  color: #ecf0f1;
  display: inline-block;
}

.name-team{
  color: #fff;
  text-shadow: 0px 0px 1px #ddd;
  background-color: #7f8c8d;
  padding: 5px;
  font-weight: 300;
}

.team span.icon-user{
  padding: 5px;
  vertical-align: middle;
  color: #0AE2FA;
}

.team span.icon-angle-down{
  float: right;
  margin-top: 2px;
  font-size: 1em;
}


.members{
  content: '';
  float: left;
  border-radius: 50%;
  margin: 0 1em 0 0;
  margin-top: 5em
}

.members img{
  border-radius: 100%;
  vertical-align: middle;
  width: 60px;
}

.team-footer{
  float: left;
  width: 100%;
  padding: 5px;
  height: 30px;
}

.team-footer button.equipo{
  margin-top: 8.5em;
  padding: 20px 20px;
  background: #95a5a6;
  color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px #D2D3D4;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.team-footer button.colaboradores{
  padding: 20px 39px;
  background: #95a5a6;
  color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px #D2D3D4;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

/*DETALLE DE EQUIPO*/
button.edit-team{
  float: right;
  padding: 10px 5px;
  margin-top: 1em;
  margin-left: 5px;
  margin-right: 20px;
  background: #4479BA;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

button.user-team{
  float: right;
  color: #7f8c8d;
  padding: 10px 10px;
  margin-top: 1em;
  border-radius: 4px 4px 4px 4px;
}

.devocionales-resume{
  width: 350px;
  height: 300px;
  margin-top: 3em;
  margin-left: 0.2em;
  background: #95a5a6;
  color: #ecf0f1;
}

.devocionales-head{
  color: #fff;
  text-shadow: 0px 0px 1px #ddd;
  background-color: #7f8c8d;
  padding: 20px;
  font-weight: 300;
}

.devocionales-resume span.icon-angle-down{
  float: right;
  margin-top: 2px;
  font-size: 1em;
}