@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,500,500italic,700);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Fira Sans';
}

div#header {
	width: 100%;
	height: 60px;
	background-color: #34495e;
	margin:0 auto;
	float: left;
	position: relative;
}

a {
	text-decoration: none;
}

.logo {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}


.logo a {
	font-size: 1.6em;
	color: #fff;
}

.logo a span {
	font-weight: 300;
}

div#container {
	width: 100%;
	margin: 0 auto;
}

.user {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #2c3e50;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    margin-right: 5px;
    border-radius: 100%;
  }

  .username {
    color: #fff;
    font-weight: bold;
  }

	.user-info {
		width: 100%;
	  background: #2c3e50;
	}

	.info {
		float: right;
		color: #fff;
    font-weight: lighter;
	}


.sidebar {
	overflow: hidden;
	width: 250px;
	height: 100%;
	background-color: #2c3e50;
	float: left;
}

h3 {
	margin-top: 10px;
	padding: 10px;
	color: #fff;
}

ul#nav {

} 

ul#nav li {
	list-style: none;
}

ul#nav li a {
	color: #95a5a6;
	display: block;
	padding: 12px;
	font-size: 0.8em;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}

ul#nav li a:hover {
	background-color: #34495e;
	color: #fff;
}

ul#nav li a.selected {
	background-color: #34495e;
	color: #fff;
}

ul#nav li a span.icon-circle.red {
	color: #ED0202;
	font-size: 1em;
	display: inline-block;
	padding: 5px;

}

ul#nav li a span.icon-circle.yellow {
	color: #FA8F02;
	font-size: 1em;
	display: inline-block;
	padding: 5px;

}

ul#nav li a span.icon-circle.blue {
	color: #0AE2FA;
	font-size: 1em;
	display: inline-block;
	padding: 5px;

}

ul#nav li a span.icon-circle.green {
	color: #2EFA05;
	font-size: 1em;
	display: inline-block;
	padding: 5px;

}

ul#nav li a span.icon-circle.white {
	color: #EEF2ED;
	font-size: 1em;
	display: inline-block;
	padding: 5px;

}

.sponsor {
	width: 98%;
	color: #fff;
	text-align: center;
	font-size: 11px;
  font-weight: lighter;
  border: 1px solid #fff;
}

.sponsor-banner {
	width: 100%;
  padding: 10px;
  text-align: center;
  }
  
  	img.sponsor{
  		display: inline-block;
    	width: 100%;
    	margin-right: 5px;
  	}


.content {
	width: auto;
	margin-left: 250px;
	height: 100%;
	background-color: #fff;
	padding: 15px;
	overflow: hidden;
}

.group {
	width: 350px;
	height: 350px;
	margin-top: 1.5em;
	margin-left: 0.2em;
	background: #95a5a6;
  color: #ecf0f1;
  display: inline-block;
}

.name-group {
	color: #fff;
	text-shadow: 0px 0px 1px #ddd;
	background-color: #7f8c8d;
	padding: 5px;
	font-weight: 300;
}


.members {
	content: '';
	float: left;
  border-radius: 50%;
  margin: 0 1em 0 0;
  margin-top: 5em
}
