.blogStreamContainer {
  width: 50%;
  background-color: #f2f2f2;
  display: inline-block;
  float: left;
}

.bsTitle {
  font-size: 4rem;
  font-weight: 100;
  color: #70828f;
  padding: 20px;
  margin: 0px;
  border-right: 1px solid #eee;
  background-color: #fff;
}

.bsContent {
  height: 500px;
  padding: 20px;
  border-right: 1px solid #e5e5e5;
}

.bsList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.bsItem {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  float: left;
  display: inline-block;
  width: 100%;
  padding-top: 15px;
}

.bsItemImageLink {
  display: inline-block;
  float: left;
}

.bsImage {
  width: 60px;
  height: 60px;
}

.bsItemContent {
  display: inline-block;
  float: left;
  margin-left: 20px;
}

.bsItemContent h3 {
  margin: 5px 0;
}
