.header {
  height: 70px;
  background-color: #334a5c;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}

.logo {
  margin-top: 17px;
  margin-left: 20px;
}

.logo a {
  display: block;
  background-color: #2e353e;
  width: 200px;
  height: 27px;
  overflow: hidden;
  font-size: 2.4em;
  color: #fff;
}

/* -- Action Bar */

.actionBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 240px;
  right: 0;
}

.searchBarContainer {
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  margin-top:15px;
  padding: 7px;
  width: 300px;
}

.searchBar {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 300;
  width: 280px;
  outline: none;
}

.searchBar::-webkit-input-placeholder {
  color: white;
  opacity: 0.6;
}

.searchBar:-moz-placeholder { /* Firefox 18- */
  color: white;
  opacity: 0.6;
}

.searchBar::-moz-placeholder {  /* Firefox 19+ */
  color: white;
  opacity: 0.6;
}

.searchBar:-ms-input-placeholder {
  color: white;
  opacity: 0.6;
}

.searchBarContainer i {
  color: white;
}

.createActions {
  float: right;
  margin-top: 23px;
}

.createTeam {
  margin-top: 15px;
  margin-right: 30px;
  color: #54b1c4;
}

.createResource {
  margin-top: 15px;
  margin-right: 10px;
  color:#eac14d;
}

.createActions .division {
  color: white;
  margin-right: 10px;
}

/* SIDEBAR */

.sidebar{
  width: 240px;
  height: 100%;
  background-color: #4a6274;
  float: left;
  position: fixed;
  top: 70px;
}

/* -- ACCOUNT */

.account {
  background-color: #334a5c;
  color: white;
  height: 75px;
  width: 240px;
}

.account a {
  color: white;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2e353e;
  margin-left: 20px;
}

.account .name {
  position: absolute;
  font-size: 1.4rem;
  font-weight: 400;
  top: 10px;
  left: 85px;
  width: 137px;
}

.account .name i {
  float: right;
  font-weight: lighter;
}

.account .resourcesCount {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 200;
  top: 30px;
  left: 85px;
}

/* -- SHORTHAND */
.shorthand {
  color: white;
  padding: 0px 20px;
  overflow: hidden;
  list-style: none;
  margin: 0;
}

.shorthand > li {
  border-bottom: 1px solid #758694;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: 300;
}

.shorthand .shorthandTitle {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 15px 0px;
}

.shorthand .shorthandTitle i {
  float: right;
}

.shorthand ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shorthand a {
  color: white;
  display: block;
  margin-bottom: 10px;
}

.shorthand .icon {
  background-color: gray;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.shorthand :global .fa-chevron-down {
  float: right;
  font-weight: 100;
}

.shorthand :global .fa-plus {
  float: right;
  font-weight: 100;
}


/* MAIN */

.main {
  position: static;
  padding-top: 70px;
  margin-left: 240px;
  margin-right: 0px;
}

.main .titleStripe {
  background-color: #f2f2f2;
  border-bottom: 20px solid #f9f9f9;
  height: 55px;
  width: 100%;
}

.main h2 {
  display: inline-block;
  margin: 17px 20px;
  color: #334a5c;
  font-size: 1.5rem;
}

.main .mainContainer {
  margin: auto;
  margin-top: 20px;
  max-width: 1280px;
  min-width: 640px;
}

/** Adjust the main container **/
@media (min-width: 1024px) and (max-width: 1199px) {
  .main .mainContainer {
    max-width: 640px;
  }
}

@media (min-width: 1200px) and (max-width: 1519px) {
  .main .mainContainer {
    max-width: 960px;
  }
}

/* BOX */
.box {
  width: 300px;
  height: 310px;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 0px #ddd;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.boxHeader {
  width: 100%;
  height: 60px;
  background-color: #f2f2f2;
}

.boxHeaderIcon {
  background-color: #54b1c4;
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 30px;
  margin: 15px 10px 15px 15px;
  width: 30px;
}

.boxHeaderTitle {
  display: inline-block;
  float: left;
  font-size: 1.8rem;
  font-weight: 400;
  color: #54b1c4;
  margin: 20px 0px;
}

.boxBody {
  position: relative;
  height: 190px;
  width: 100%;
}

.boxResource {
  padding: 20px;
}

.boxResource h3 {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1.8rem;
}

.boxResource summary {
  color: #77797a;
  font-size: 1.2rem;
}

.boxResourceAuthor {
  position: absolute;
  left: 0;
  bottom: 10px;
  right: 0;
}

.boxResoucesAuthorAvatar {
  background-color: #54b1c4;
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 30px;
  margin: 0px 10px 0px 20px;
  width: 30px;
}

.boxResourceAuthor p {
  color: #232931;
  margin: 10px 0px;
  font-size: 1.2rem;
  font-weight: 500;
}

.boxResourceAuthor a {
  color: #54b1c4;
}

.boxFooter {
  width: 100%;
  height: 60px;
  background-color: #ebebeb;
  border-top: 1px solid #d8d8d8;
}

.boxResourceShare {
  display: inline-block;
  width: 60%;
}

.boxResourceShare a {
  color: #444950;
  font-weight: 500;
  display: block;
  padding: 21px;
}

.boxResourceLike {
  background-color: #f9f9f9;
  display: inline-block;
  width: 40%;
}

.boxResourceLikeBox {
  color: #77797a;
  padding: 17px;
  text-align: right;
}

.boxResourceLikeBox a {
  color: #77797a;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: #ebebeb;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
}

/** table **/
.tableView {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}

.tableView th {
  background-color: #f2f2f2;
  height: 60px;
  font-weight: 500;
}

.tableView tr {
  background-color: white;
}

.tableView tr:nth-child(odd) {
  background: white;
}

.tableView tr:nth-child(even) {
  background: #f9f9f9;
}

.tableView td {
  padding: 20px 10px;
}
