.searchBox {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
}

.input {
  border-radius: 5px;
  background-color: #2e363f;
  border: 1px solid #c2c5c7;
  color: #ebebeb;
  padding: 10px 50px 10px 10px;
}

.icon {
  position: absolute;
  right: 11px;
  top: 9px;
}
