@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic);

img,
input[type=submit],
input[type=button] {
  border: none
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #333;
  background-repeat: repeat-x;
  background-color: #f8f8f8;
}
a {
  text-decoration: none;
  color: #0178A3
}
a:hover {
  text-decoration: underline
}

.link_btn_round_sm,
.link_btn_rounded {
  text-align: center;
  text-decoration: none
}

.clearfix {
    height: 1%
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
 .right {
    float: right
}
 .left {
    float: left
}
 .transparent_class {
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5
}
 .meta_notes {
    font-size: 10px;
    color: #ccc
}
 .ui-tooltip  .ui-tooltip-content {
    font-size: 12px;
    width: 320px
}
 .link_btn_rounded {
    color: #FFF;
    font-weight: 700;
    background-color: #333;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 7px;
    display: inline-block;
    width: 143px
}
 .link_btn_rounded:hover {
    background-color: #666
}
 .link_btn_round_sm {
    color: #FFF;
    background-color: #dae1f4;
    font-size: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-top: 0;
    padding-bottom: 2px;
    display: inline-block;
    width: 90px;
    position: relative
}
 .link_btn_round_md,
 .link_btn_round_md_subir {
    margin-left: 3px;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center
}
 .link_btn_round_md {
    color: #FFF;
    text-decoration: none;
    background-color: #5b6060;
    font-size: 1.4rem;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding-top: 5px;
    width: 102px
}
 .link_btn_round_md_subir,
 .link_btn_round_md_subir:hover {
    color: #fff;
    background-repeat: no-repeat;
    text-decoration: none
}
 .link_btn_round_md_reg {
    background-color: #66a7b3
}
 .link_btn_round_md_subir {
    font-weight: 700;
    padding-top: 4px;
    font-size: 14px;
    width: 105px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding-right: 20px;
    background-color: #ffbd00;
    background-image: url(../../../../img/old/gral/btn_round_md_on_subir.png);
    background-position: right center
}

.link_btn_round_md_subir:hover {
    background-color: #fd0001;
    background-image: url(../../../../img/old/gral/btn_round_md_off_subir.png)
}

.link_btn_round_md:hover {
    background-color: #a8e1f5;
    color: #333
}

#main_wrapper {
  margin: auto;
  min-width: 1000px;
  max-width: 1140px;
}

#content {
  margin: 0 20px;
}
#content  .breadcrumbs {
    background-image: url(../../../../img/old/gral/bkg_breadcrumbs.png);
    display: block;
    position: relative;
    max-width: 1140px;
    min-width: 960px;
    padding: 4px 10px 5px;
    background-repeat: no-repeat;
    height: 28px;
    margin-right: auto;
    margin-left: auto
}
#content  .breadcrumbs a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none
}
#content  .breadcrumbs a:hover {
    text-decoration: underline
}
#content  .breadcrumbs a .actual {
    background-color: #fff;
    border-radius: 6px;
    color: #00abbc;
    display: inline-block;
    margin: 0 10px
}
 .main_announcer_box {
  width: 970px;
  height: 260px;
  margin: 20px auto;
  overflow: hidden;
}
.main_announcer_box ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#extra-content {
  display: inline-block;
}

#central_content  .sections_header {
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px;
    padding-bottom: 20px
}
#central_content #cnt_header h1 {
    color: #666;
    font-size: 25px;
    padding: 20px 20px 10px;
    font-weight: 700
}
#central_content #cnt_header p {
    font-style: italic;
    padding-left: 20px;
    width: 690px
}
#central_content #cnt_content {
    padding: 0 20px 10px
}
#central_content #cnt_content h2,
#central_content #cnt_content h3,
#central_content #cnt_content h4 {
    font-weight: 700
}
#central_content #cnt_content h2 {
    margin: 15px 0
}
#central_content #cnt_content h3,
#central_content #cnt_content p {
    margin: 10px 0
}
#central_content #cnt_content table .SubseccionesTbl {
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px
}
#central_content #cnt_content table .ArticlesTbl  .lu_content_box a,
#central_content #cnt_content table .SubseccionesTbl  .lu_content_box a,
#central_content #cnt_content table .TagsTbl  .lu_content_box a {
    font-size: 15px
}
#central_content #cnt_content table .ArticlesTbl  .lu_content_box a,
#central_content #cnt_content table .TagsTbl  .lu_content_box a {
    display: inline;
    padding-right: 10px
}
#central_content #cnt_content table .SubseccionesTbl  .lu_content_box font {
    font-size: 14px!important;
    display: block;
    margin-top: 10px
}
#central_content #cnt_content table .ArticlesTbl  .lu_content_box font,
#central_content #cnt_content table .TagsTbl  .lu_content_box font {
    font-size: 12px!important;
    display: block
}
#central_content  .author_link {
    color: #4399BC;
    font-weight: 700
}
#central_content  .reg_fields_box {
    padding: 15px;
    background-color: #f8f8f8;
    margin-bottom: 20px
}
 .profile_box #p_titlebar {
    width: 100%
}
 .profile_box #p_titlebar  .p_author_pic {
    width: 50px;
    height: 70px;
    padding: 3px;
    background-image: url(../../../../img/old/gral/medium_img_round_corners.gif);
    margin-right: 5px;
    display: inline
}
 .profile_box #p_titlebar div .p_author {
    position: absolute;
    bottom: 0;
    left: 65px
}
 .profile_box #r_moreincat,
 .resource_box #r_titlebar div {
    position: relative;
    float: left
}
 .profile_box #r_titlebar span .p_author_data {
    font-size: 12px;
    color: #666
}
 .profile_box #r_titlebar span .r_date {
    font-size: 12px;
    color: #999
}
 .profile_box  .p_review {
    padding: 0 0 20px;
    text-align: justify
}
 .profile_box  .p_review_title {
    font-size: 20px
}
 .profile_box #r_moreincat {
    color: #0178A3;
    width: 710px;
    height: 230px
}
 .ArticlesTbl {
    margin-top: 20px
}
 .resource_box #r_titlebar {
    width: 100%
}
 .resource_box #r_titlebar  .r_author_pic {
    width: 50px;
    height: 70px;
    padding: 3px;
    background-image: url(../../../../img/old/gral/medium_img_round_corners.gif);
    margin-right: 5px;
    display: block
}
 .resource_box #r_titlebar div .r_author_data {
    position: absolute;
    bottom: 0;
    left: 65px
}
 .resource_box #r_titlebar span .r_author {
    font-size: 16px;
    text-transform: uppercase
}
 .resource_box #r_titlebar span .r_date {
    font-size: 12px;
    color: #999
}
#last_updates,
 .resource_box #r_moreincat {
    color: #0178A3;
    float: left;
    position: relative
}
div .r_rating {
    display: inline-block;
    padding-left: 4px;
    width: 90px;
    background: url(../../../../img/old/gral/rating_bkg.jpg) no-repeat
}
div .r_rating a {
    border: none;
    padding: none;
    margin: 0
}
 .resource_box #sharebar  .preview_btn {
    display: none;
    width: 113px;
    height: 20px;
    background-color: #B3B4C8;
    margin-top: 10px;
    margin-left: 10px
}
 .resource_box #sharebar  .preview_btn:hover {
    background-color: #9596B3
}
 .resource_box #sharebar  .r_download {
    margin-top: 5px;
    margin-left: 10px;
    display: block;
    width: 195px;
    height: 31px;
    background-color: #FFBC00
}
 .resource_box #sharebar  .r_download:hover {
    background-color: #E6A700
}
 .resource_box  .r_content {
    padding: 0 0 10px;
    text-align: justify
}
 .resource_box  .r_tags {
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 10px
}
 .resource_box #r_moreincat {
    width: 100%;
    height: 230px
}
#comments {
    float: left;
    width: 100%
}
#comments_title {
    background: #4F6161;
    height: 40px;
    margin: 10px 0
}
#comments_title h2 {
    background: url(../../../../img/old/gral/sidebar_title_arrow.jpg) left bottom no-repeat #2B3536;
    color: #FFF;
    display: block;
    padding: 10px 10px 26px;
    width: 105px;
    font-size: 16px;
    font-weight: 400
}

#last_updates  .ui-tabs {
    position: relative;
    padding: 0;
    zoom: 1;
    border: none
}
#last_updates  .ui-tabs  .ui-tabs-nav {
    margin: 0;
    padding: 0;
    background: #00abbc;
    height: 36px;
    border: none
}
#last_updates  .ui-tabs  .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 0;
    border: 0!important;
    padding: 0;
    white-space: nowrap
}
 .ui-tabs  .ui-tabs-nav li a {
    text-transform: uppercase;
    float: left;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    height: 20px;
    padding: 10px 30px
}
#last_updates  .ui-tabs  .ui-tabs-nav  .ui-state-default {
    background: #04919f
}
#last_updates  .ui-tabs  .ui-tabs-nav  .ui-state-default a {
    color: #FFF
}
#last_updates  .ui-tabs  .ui-tabs-nav  .ui-state-hover {
    background: #02bcce
}
#last_updates  .ui-tabs  .ui-tabs-nav  .ui-state-active {
    background: url(../../../../img/old/gral/sidebar_title_arrow.jpg) bottom left no-repeat #fd0001;
    padding-bottom: 15px
}
#last_updates  .ul-tabs  .ui-tabs-nav  .ui-state-active a {
    background: #fd0001
}
 .ui-tabs  .ui-tabs-nav li .ui-tabs-selected a {
    margin-bottom: 0;
    background: #fd0001
}
#last_updates  .tabs_more {
    margin-top: 5px;
    text-align: right;
    padding-right: 10px;
    width: 300px;
    height: 15px;
    float: right;
    position: relative
}
#last_updates  .title {
    font-size: 15px;
    color: #FFF;
    background: url(../../../../img/old/gral/sidebar_title_arrow.jpg) bottom left no-repeat #2B3536;
    padding: 10px 10px 23px;
    font-weight: 700
}
#last_updates  .tabs_more  .arrow_box {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative
}
#last_updates  .tabs_more #left_arrow {
    background: url(../../../../img/old/widgets/last_updates/left_arrow_off.jpg) no-repeat;
    display: inline-block;
    padding: 2px;
    width: 10px;
    height: 10px;
    text-indent: 50px;
    overflow: hidden
}
#last_updates  .tabs_more #left_arrow:hover {
    background: url(../../../../img/old/widgets/last_updates/left_arrow_on.jpg) no-repeat
}
#last_updates  .tabs_more #right_arrow {
    background: url(../../../../img/old/widgets/last_updates/right_arrow_off.jpg) no-repeat;
    display: inline-block;
    padding: 2px;
    width: 10px;
    height: 10px;
    text-indent: 999px;
    overflow: hidden
}
#last_updates  .tabs_more #right_arrow:hover {
    background: url(../../../../img/old/widgets/last_updates/right_arrow_on.jpg) no-repeat
}
#last_updates  .lu_content_box {
    padding: 5px 0;
    width: 680px;
    height: auto;
    border-bottom: solid 1px #CCC;
    position: relative;
    float: left;
    display: inherit
}
#last_updates #lu_menu_box,
 .content_trigger_box {
    padding-bottom: 10px;
    float: left;
    position: relative
}
#last_updates  .lu_content_box  .lu_doc_icon {
    position: relative;
    float: left;
    display: block;
    width: 25px;
    height: 25px
}
#last_updates  .lu_content_box  .link_btn_round_sm {
    margin-top: 8px
}
#last_updates  .lu_content_box h1 {
    font-weight: 700;
    font-size: 16px;
    padding-left: 5px;
    text-transform: uppercase;
    position: relative;
    float: left;
    display: block
}
#last_updates  .lu_content_box a {
    color: #0178A3;
    text-decoration: none
}
#last_updates  .lu_content_box a:hover {
    text-decoration: underline
}
#last_updates  .lu_content_box span {
    font-size: 12px;
    bottom: 0;
    margin: 5px
}
#last_updates #lu_menu_box {
    display: block;
    width: 100%;
    height: 15px;
    padding-top: 3px;
    color: #000;
    font-size: 11px
}
#last_updates #lu_menu_box a {
    display: inline-block;
    padding-left: 4px;
    text-decoration: none;
    color: #0178A3
}
#last_updates #lu_menu_box a .active {
    color: #000
}
#last_updates  .ui-tabs-panel form,
#last_updates  .ui-tabs-panel form input {
    border: none;
    -webkit-appearance: none;
    outline: 0
}
 .content_trigger_box {
    max-width: 1140px;
    min-width: 960px;
    font-size: 12px
}
 .content_trigger_box  .cnt_trgr_title {
    font-size: 20px;
    font-weight: 700;
    padding: 10px
}
 .content_trigger_box ul .list {
    list-style: none;
    line-height: 1px;
    margin: 0
}
 .content_trigger_box ul li {
    float: left;
    text-align: left;
    display: block
}
#invite_box,
 .cnt_header a,
 .nws_header a,
 .sv_box {
    text-align: center
}
 .content_trigger_box ul li ul {
    float: left;
    margin-left: 5px
}
 .content_trigger_box ul li ul li {
    float: none;
    width: 230px;
    display: block;
    padding: 3px
}
 .content_trigger_box ul li ul li .mdb_sec_title a {
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 7px;
    padding-top: 12px;
    background-color: #E7E7ED
}
 .content_trigger_box ul li ul li a {
    color: #333;
    display: block;
    padding: 8px 5px 5px
}
#invite_box {
    margin: auto auto 5px;
    width: 720px;
    padding: 5px;
    background-color: #FF9;
    position: relative;
    float: left;
    line-height: 25px
}
#invite_box  .cls_btn {
    position: absolute;
    top: 5px;
    right: 5px
}
#invite_box img {
    border: 1px solid #f8f8f8
}
#sharebar {
    width: 710px;
    padding: 0 10px;
    height: 40px;
    background-color: #DDD;
    border-top: solid 1px #999;
    margin: 10px 0 0 -20px
}
#sharebar  .social_bar {
    display: inline-block;
    margin: 5px 0 10px;
    border-left: solid 1px #E2E2E2;
    padding: 5px;
    font-size: 11px
}
#sidebar_box {
    width: 250px;
    background-color: #FFF;
    float: right;
    position: relative
}
#sidebar_box  .sb_box {
    width: 250px;
    float: left;
    position: relative
}
#sidebar_box  .sb_title {
    position: relative;
    font-size: 15px;
    color: #FFF;
    background: #2B3536;
    padding: 14px 10px
}
#sidebar_box  .sb_title:after {
    top: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #2B3536 transparent transparent;
    border-width: 12px;
    margin-left: -12px
}
 .cnt_stream,
 .nws_stream {
    border-bottom: 1px solid #f4f4f4
}
#sidebar_box  .sb_content {
    padding-bottom: 10px
}
#sidebar_box  .sb_ad {
    width: 250px
}
 .sv_box {
    font-size: 14px;
    padding: 10px
}
 .sv_box p .sv_txt {
    padding: 10px;
    font-style: italic;
    font-weight: 700
}
 .sv_box  .sv_opts_tbl {
    width: 210px;
    margin: 10px
}
 .sv_box form input .sv_votar {
    padding: 6px 3px;
    color: #FFF;
    display: block;
    margin-left: 70px
}
 .tag_cloud_tbl {
    margin: 15px;
    width: 200px
}
#footer {
    margin: auto;
    max-width: 1140px;
    min-width: 960px;
    background-color: #293237
}
#footer  .ft_title {
    height: 18px;
    background-color: #459BBC;
    color: #76D6EC;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px
}

#footer #nav_box table {
  width: 100%;
}

#footer #nav_box  .ft_sitemap_col {
  width: 33%;
  padding: 20px 0px 20px 25px;
  vertical-align: initial;
}
 .ft_sitemap_col ul {
  font-size: 1.4rem;
  margin: 0;
  list-style: none;
  line-height: 2.5rem;
  color: #FFF;
  padding: 0;
}

.ft_sitemap_col .Titulo {
  font-weight: bold;
  text-transform: uppercase;
}

 .ft_sitemap_col a {
    padding: 3px;
    color: #449ABB;
    text-decoration: none;
}
 .ft_sitemap_col a:hover {
    color: #FFF;
}
#footer #copy_box {
  padding: 20px;
  background-color: #1E2629;
  text-align: center;
  vertical-align: middle;
  clear: both;
  color: #FFF;
  font-size: 1.2rem;
}
