.header {
  background-color: #222830;
  flex-basis: auto;
  flex-grow: 1;
  height: 60px;
  min-width: 960px;
  padding: 0 20px;
}

#menu {
  height: 80px;
  display: inline-block;
  float: left;
}
#menu_bar {
    height: 78px;
    float: left;
    overflow: hidden;
    margin-top: 2px
}
#search_box {
    float: right;
    height: 30px;
    padding-top: 26px;
    text-align: right;
    width: 350px;
    display: inline-block;
}
#search_box input .search_txt_input {
    border: 1px solid #C9C8C3;
    color: #333;
    font-size: 14px;
    height: 18px;
    margin-right: 10px;
    width: 210px
}
#search_box input .search_submit {
    width: 92px;
    float: right!important
}
#user_log_form a {
    font-size: 12px
}
#user_log_form p {
    padding: 10px
}
#user_log_form  .usr_input {
    width: 230px
}
#user_log_form #pl_log_submit {
    float: none;
    position: static;
    text-transform: uppercase;
    font-size: 12px
}
