@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,500,500italic,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
color: #03658c;
text-decoration: none;
 }
 
ul {
list-style-type: none;
}

body{
  font-family: 'Fira Sans';
}

div#header{
  width: 100%;
  height: 60px;
  background-color: #34495e;
  margin:0 auto;
  float: left;
  position: relative;
}

a{
  text-decoration: none;
}

.logo{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}


.logo a{
  font-size: 1.6em;
  color: #fff;
}

.logo a span{
  font-weight: 300;
}

.button-equipos{
  margin: 10px 5px;
  margin-left: 8em;
  padding: 10px;
  color: #05F5E5;
  border-radius: 2px 2px 2px 2px;
  background: #34495e;
  font-weight: bold;
  border: 1px solid #05F5E5;
}

.button-equipos:hover{
  color: #FFF;
  background: #05F5E5;
}

.button-recursos{
  padding: 10px;
  color: #FA8F02;
  border-radius: 2px 2px 2px 2px;
  background: #34495e;
  font-weight: bold;
  border: 1px solid #FA8F02;
}

.button-recursos:hover{
  color: #FFF;
  background: #FA8F02;
}

input[type=search]{
  margin-left: 0.8em;
  padding: 10px;
  border-radius: 2px 2px 2px 2px;
  color: #fff;
  background: #34495e;
  border: 1px solid #fff;
}

div#container{
  width: 100%;
  margin: 0 auto;
}

.user{
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #2c3e50;
}

.user img{
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  margin-right: 5px;
  border-radius: 100%;
}

.username{
  color: #fff;
  font-weight: bold;
}

.user-info{
  width: 100%;
  background: #2c3e50;
  display: block;
}

.info{
  float: right;
  color: #fff;
  font-weight: lighter;
}

.sidebar{
  overflow: hidden;
  width: 250px;
  height: 100%;
  background-color: #2c3e50;
  float: left;
}

h3{
  margin-top: 15px;
  padding: 15px;
  color: #fff;
}

h3 span.icon-user-plus{
  float: right;
}

ul#nav{

} 

ul#nav li{
  list-style: none;
}

ul#nav li a{
  color: #95a5a6;
  display: block;
  padding: 12px;
  font-size: 0.8em;
  -webkit-transition:0.2s;
  -moz-transition:0.2s;
  -o-transition:0.2s;
  transition:0.2s;
}

ul#nav li a:hover{
  background-color: #34495e;
  color: #fff;
}

ul#nav li a.selected{
  background-color: #34495e;
  color: #fff;
}

ul#nav li a span.icon-circle.red{
  color: #ED0202;
  font-size: 1em;
  display: inline-block;
  padding: 5px;
}

ul#nav li a span.icon-circle.yellow{
  color: #FA8F02;
  font-size: 1em;
  padding: 5px;
}

ul#nav li a span.icon-circle.blue{
  color: #0AE2FA;
  font-size: 1em;
  padding: 5px;
}

ul#nav li a span.icon-circle.green{
  color: #2EFA05;
  font-size: 1em;
  padding: 5px;
}

ul#nav li a span.icon-circle.white{
  color: #EEF2ED;
  font-size: 1em;
  padding: 5px;
}

ul#nav li a span.icon-angle-down{
  float: right;
  margin-top: 0.5em;
  font-size: 1em;
}

.publicidad{
  width: 99%;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: lighter;
  border: 1px solid #fff;
  margin-top: 7em;
}

.imagen-publicidad{
  width: 100%;
  padding: 10px;
  margin: auto;
  text-align: center;
}
  
.imagen{
  display: inline-block;
  width: 100%;
  margin-right: 5px;
  position: relative;
}
    
.crear-equipo{
  float: right;
  margin-top: 15px;
  margin-right: 30px;
  color: #0AE2FA;
  font-weight: 300;
}
    
.crear-recurso{
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  color:#FA8F02; 
  font-weight: 300;
}

.division{
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  color:#FA8F02; 
}


.content{
  width: auto;
  margin-left: 250px;
  height: 100%;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
}

.content-order p{
  float: right;
  margin: auto;
  padding: 15px;
}

.team{
  width: 350px;
  height: 350px;
  margin-top: 1.5em;
  margin-left: 0.2em;
  background: #95a5a6;
  color: #ecf0f1;
  display: inline-block;
}

.name-team{
  color: #fff;
  text-shadow: 0px 0px 1px #ddd;
  background-color: #7f8c8d;
  padding: 5px;
  font-weight: 300;
}

.team span.icon-user{
  padding: 5px;
  vertical-align: middle;
  color: #0AE2FA;
}

.team span.icon-angle-down{
  float: right;
  margin-top: 2px;
  font-size: 1em;
}


.members{
  content: '';
  float: left;
  border-radius: 50%;
  margin: 0 1em 0 0;
  margin-top: 5em
}

.members img{
  border-radius: 100%;
  vertical-align: middle;
  width: 60px;
}

.team-footer{
  float: left;
  width: 100%;
  padding: 5px;
  height: 30px;
}

.team-footer button.equipo{
  margin-top: 8.5em;
  padding: 20px 20px;
  background: #95a5a6;
  color: #FFF;
  border: solid 1px #D2D3D4;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  user-select:none;
}

.team-footer button.colaboradores{
  padding: 20px 39px;
  background: #95a5a6;
  color: #FFF;
  border-radius: 2px;
  border: solid 1px #D2D3D4;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  user-select:none;
}



/*DETALLE DE EQUIPO*/
.content-team{
  width: auto;
  margin-left: 250px;
  height: 100%;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
}

span.team-name{
  font-weight: bold;
  color: #ED0202;
}

span.team-name span.icon-book-open{
  float: left;
  padding: 1px;
}

span.team-info{
  font-weight: lighter;
  display: block;
}

button.edit-team{
  float: right;
  padding: 10px 5px;
  margin-top: 1px;
  margin-left: 5px;
  margin-right: 20px;
  background: #4479BA;
  color: #FFF;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  user-select:none;
}

button.user-team{
  float: right;
  overflow: hidden;
  color: #7f8c8d;
  padding: 10px 10px;
  margin-top: 1px;
  border-radius: 4px 4px 4px 4px;
}

.devocionales-resume{
  display: inline-block;
  float: left;
  width: 350px;
  height: 300px;
  margin-top: 1.5em;
  margin-left: 5.5em;
  background: #95a5a6;
  color: #ecf0f1;
  overflow: hidden;
}

.devocionales-head{
  color: #fff;
  text-shadow: 0px 0px 1px #ddd;
  background-color: #7f8c8d;
  padding: 20px;
  font-weight: 300;
}

.devocionales-head span.icon-book-open{
  float: left;
  padding: 1px;
  color: #0AE2FA;
}

.devocionales-resume span.icon-angle-down{
  float: right;
  margin-top: 2px;
  font-size: 1em;
}

h3.{
  margin-top: 2em;
  margin-left: 5px;
  font-weight: bold;
}

p{
  font-weight: lighter;
  margin-left: 5px;
  text-align: center;
}

.devocionales-footer{
  float: left;
  width: 100%;
  padding: 5px;
  height: 30px;
}

.devocionales-footer button.recurso{
  width: 100%;
  margin-top: 3em;
  padding: 20px 20px;
  background: #95a5a6;
  color: #FFF;
  border-radius: 2px;
  border: solid 1px #D2D3D4;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  user-select:none;
}


/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
    display: inline-block;
    margin: 80px  85px;
    padding: 10px;
    width: 785px;
    background: #95a5a6;
}
 
.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}
 
.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}
 
.comments-list {
    margin-top: 30px;
    position: relative;
}
 
/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}
 
.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
 
.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}
 
 
.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}
 
.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}
 
.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    margin-left: 5px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}
 
.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}
 
.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}
 
.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
 
.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}
 
.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}
 
.reply-list .comment-box {
    width: 610px;
}
.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
 
.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
 
.comment-box .comment-head i:hover {
    color: #03658c;
}
 
.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}
 
.comment-box .comment-name a {
    color: #283035;
}
 
.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}
 
.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
 
.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.comments-list textarea{
  margin: 1px 70px;
  padding: 3px;
  border-radius: 4px 4px 0 0;
  font-style: oblique;
  font-weight: 100;
  border-color: #0AE2FA;
  border-width: medium;
}
